body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

canvas {
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    image-rendering: pixelated;
    height: 800px;
    width: 800px;
}

#container {
    height: 90vh;
}

#navBar{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#webName {
    margin-right: 50px;
}

#container > label {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #3c87e8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -10px; 
}

input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 3em;
    padding: 0;
    width: 7em;
  }
